<div class="whole">
  <div class="heading">
    <div class="half1"><p>&#65504;URR€&#65504;NY</p></div>
    <div class="half2"><p>&#65504;ONV€RT€R</p></div>
    <div class="full"><p>&#65504;URR€&#65504;NY&nbsp;&nbsp;&nbsp;&#65504;ONV€RT€R</p></div>
  </div>
  <div class="from">
    <div class="currencyName">
        <button type="submit" class="button">CURRENCY</button>
    </div>
    <div class="currencyValue">
      <input type="text" placeholder="Enter The Value..." (input)="onUpdateCurrencyValue($event)">
      <!-- <app-loading-screen></app-loading-screen> -->
    </div>
  </div>
  <div class="to">
    <p>TO</p>
    <div class="currencyName">
        <button type="submit" class="button">CURRENCY</button>
    </div>
    <div class="currencyValue">
        <input type="text" placeholder="{{ currencyValue }}">
    </div>
  </div>
  <div class="image"><img src="assets/Images/devil.jpg"></div>
</div>