.whole{
    position: absolute;
    height: 31em;
    width: 67.3em;
    background-color: #100e17;
}
.heading p{
    position: relative;
    font-size: 3.5em;
    color: white;
    text-align: center;
}
